## Data
Being able to easily load and process data is a crucial task that can make any data science more pleasant. In this notebook, we will cover most common types often encountered in data science tasks, and we will be using this data throughout the rest of this tutorial.

In [1]:
using Pkg
Pkg.add(["BenchmarkTools", "DataFrames", "DelimitedFiles", "CSV", "XLSX", "Downloads"])
using BenchmarkTools
using DataFrames
using DelimitedFiles
using CSV
using XLSX
using Downloads

    Updating registry at `C:\Users\anson\.julia\registries\General.toml`
   Resolving package versions...
  No Changes to `C:\Users\anson\.julia\environments\v1.8\Project.toml`
  No Changes to `C:\Users\anson\.julia\environments\v1.8\Manifest.toml`

# üóÉÔ∏è Get some data
In Julia, it's pretty easy to dowload a file from the web using the `download` (https://docs.julialang.org/en/v1/stdlib/Downloads/) function. But also, you can use your favorite command line commad to download files by easily switching from Julia via the `;` key. Let's try both.

Note: `download` depends on external tools such as curl, wget or fetch. So you must have one of these.

In [26]:
P = Downloads.download("https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv",
    "programming_languages.csv")

"programming_languages.csv"

Another way would be to use a shell command to get the same file.

# üìÇ Read your data from text files.
The key question here is to load data from files such as `csv` files, `xlsx` files, or just raw text files. We will go over some Julia packages that will allow us to read such files very easily.

Let's start with the package `DelimitedFiles` which is in the standard library.

In [27]:
#=
readdlm(source, 
    delim::AbstractChar, 
    T::Type, 
    eol::AbstractChar; 
    header=false, 
    skipstart=0, 
    skipblanks=true, 
    use_mmap, 
    quotes=true, 
    dims, 
    comments=false, 
    comment_char='#')
=#
P, H = readdlm("programming_languages.csv",','; header=true);

In [28]:
H

1√ó2 Matrix{AbstractString}:
 "year"  "language"

In [29]:
P

73√ó2 Matrix{Any}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"
 1959  "RPG"
 1962  "APL"
 1962  "Simula"
    ‚ãÆ
 2003  "Scala"
 2005  "F#"
 2006  "PowerShell"
 2007  "Clojure"
 2009  "Go"
 2010  "Rust"
 2011  "Dart"
 2011  "Kotlin"
 2011  "Red"
 2011  "Elixir"
 2012  "Julia"
 2014  "Swift"

In [30]:
# To write to a text file, you can:
writedlm("programminglanguages_dlm.txt", P, '-')

A more powerful package to use here is the `CSV` package. By default, the CSV package imports the data to a DataFrame, which can have several advantages as we will see below.

In general,[`CSV.jl`](https://juliadata.github.io/CSV.jl/stable/) is the recommended way to load CSVs in Julia. Only use `DelimitedFiles` when you have a more complicated file where you want to specify several things.

In [31]:
C = CSV.read("programming_languages.csv", DataFrame);

In [32]:
@show typeof(C)
#C[1:10,:]
#C.year 
#[!,:year]

typeof(C) = DataFrame

DataFrame

In [33]:
@show typeof(P)
P[1:10,:]

typeof(P) = Matrix{Any}

10√ó2 Matrix{Any}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"

In [34]:
names(C)

2-element Vector{String}:
 "year"
 "language"

In [35]:
names(C)
C.year
C.language
describe(C)

2√ó7 DataFrame
 Row ‚îÇ variable  mean     min       median  max        nmissing  eltype
     ‚îÇ Symbol    Union‚Ä¶   Any       Union‚Ä¶  Any        Int64     DataType
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ year      1982.99  1951      1986.0  2014              0  Int64
   2 ‚îÇ language           ALGOL 58          dBase III         0  String31

In [36]:
@btime P,H = readdlm("programming_languages.csv",',';header=true);
@btime C = CSV.read("programming_languages.csv", DataFrame);

  361.200 Œºs (319 allocations: 50.59 KiB)
  771.300 Œºs (435 allocations: 48.75 KiB)

In [37]:
# To write to a *.csv file using the CSV package
CSV.write("programminglanguages_CSV.csv", DataFrame(P, :auto))

"programminglanguages_CSV.csv"

Another type of files that we may often need to read is `XLSX` files. Let's try to read a new file.

In [38]:
T = XLSX.readdata("data/zillow_data_download_april2020.xlsx", #file name
    "Sale_counts_city", #sheet name
    "A1:F9" #cell range
    )

9√ó6 Matrix{Any}:
      "RegionID"  "RegionName"    ‚Ä¶      "2008-03"      "2008-04"
  6181            "New York"             missing        missing
 12447            "Los Angeles"      1446           1705
 39051            "Houston"          2926           3121
 17426            "Chicago"          2910           3022
  6915            "San Antonio"   ‚Ä¶  1479           1529
 13271            "Philadelphia"     1609           1795
 40326            "Phoenix"          1310           1519
 18959            "Las Vegas"        1618           1856

If you don't want to specify cell ranges... though this will take a little longer...

In [39]:
G = XLSX.readtable("data/zillow_data_download_april2020.xlsx","Sale_counts_city");

Here, `G` is a tuple of two items. The first is an vector of vectors where each vector corresponds to a column in the excel file. And the second is the header with the column names.

In [40]:
G[1]

LoadError: MethodError: no method matching getindex(::XLSX.DataTable, ::Int64)

In [41]:
G[1][1][1:10]

LoadError: MethodError: no method matching getindex(::XLSX.DataTable, ::Int64)

In [42]:
G[2][1:10]

LoadError: MethodError: no method matching getindex(::XLSX.DataTable, ::Int64)

And we can easily store this data in a DataFrame. `DataFrame(G...)` uses the "splat" operator to _unwrap_ these arrays and pass them to the DataFrame constructor.

In [43]:
D = DataFrame(G...) # equivalent to DataFrame(G[1],G[2])

LoadError: MethodError: no method matching iterate(::XLSX.DataTable)
Closest candidates are:
  iterate(::Union{LinRange, StepRangeLen}) at range.jl:872
  iterate(::Union{LinRange, StepRangeLen}, ::Integer) at range.jl:872
  iterate(::T) where T<:Union{Base.KeySet{<:Any, <:Dict}, Base.ValueIterator{<:Dict}} at dict.jl:712
  ...

In [44]:
foods = ["apple", "cucumber", "tomato", "banana"]
calories = [105,47,22,105]
prices = [0.85,1.6,0.8,0.6,]
dataframe_calories = DataFrame(item=foods,calories=calories)
dataframe_prices = DataFrame(item=foods,price=prices)

4√ó2 DataFrame
 Row ‚îÇ item      price
     ‚îÇ String    Float64
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ apple        0.85
   2 ‚îÇ cucumber     1.6
   3 ‚îÇ tomato       0.8
   4 ‚îÇ banana       0.6

In [45]:
DF = innerjoin(dataframe_calories,dataframe_prices,on=:item)

4√ó3 DataFrame
 Row ‚îÇ item      calories  price
     ‚îÇ String    Int64     Float64
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ apple          105     0.85
   2 ‚îÇ cucumber        47     1.6
   3 ‚îÇ tomato          22     0.8
   4 ‚îÇ banana         105     0.6

In [46]:
# we can also use the DataFrame constructor on a Matrix
DataFrame(T, :auto)

9√ó6 DataFrame
 Row ‚îÇ x1        x2            x3            x4        x5       x6
     ‚îÇ Any       Any           Any           Any       Any      Any
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ RegionID  RegionName    StateName     SizeRank  2008-03  2008-04
   2 ‚îÇ 6181      New York      New York      1         missing  missing
   3 ‚îÇ 12447     Los Angeles   California    2         1446     1705
   4 ‚îÇ 39051     Houston       Texas         3         2926     3121
   5 ‚îÇ 17426     Chicago       Illinois      4         2910     3022
   6 ‚îÇ 6915      San Antonio   Texas         5         1479     1529
   7 ‚îÇ 13271     Philadelphia  Pennsylvania  6         1609     1795
   8 ‚îÇ 40326     Phoenix       Arizona       7         1310     1519
   9 ‚îÇ 18959     Las Vegas     Nevada        8         1618     1856

You can also easily write data to an XLSX file

In [47]:
# if you already have a dataframe: 
# XLSX.writetable("filename.xlsx", collect(DataFrames.eachcol(df)), DataFrames.names(df))
XLSX.writetable("writefile_using_XLSX.xlsx",G[1],G[2])

LoadError: MethodError: no method matching getindex(::XLSX.DataTable, ::Int64)

## ‚¨áÔ∏è Importing your data

Often, the data you want to import is not stored in plain text, and you might want to import different kinds of types. Here we will go over importing `jld`, `npz`, `rda`, and `mat` files. Hopefully, these four will capture the types from four common programming languages used in Data Science (Julia, Python, R, Matlab).

We will use a toy example here of a very small matrix. But the same syntax will hold for bigger files.

```
4√ó5 Array{Int64,2}:
 2  1446  1705  1795  1890
 3  2926  3121  3220  3405
 4  2910  3022  2937  3224
 5  1479  1529  1582  1761
 ```

In [48]:
using JLD
jld_data = JLD.load("data/mytempdata.jld")
save("mywrite.jld", "A", jld_data)

LoadError: ArgumentError: Package JLD not found in current path.
- Run `import Pkg; Pkg.add("JLD")` to install the JLD package.

In [49]:
using NPZ
npz_data = npzread("data/mytempdata.npz")
npzwrite("mywrite.npz", npz_data)

LoadError: ArgumentError: Package NPZ not found in current path.
- Run `import Pkg; Pkg.add("NPZ")` to install the NPZ package.

In [50]:
using RData
R_data = RData.load("data/mytempdata.rda")
# We'll need RCall to save here. https://github.com/JuliaData/RData.jl/issues/56
using RCall
@rput R_data
R"save(R_data, file=\"mywrite.rda\")"

LoadError: ArgumentError: Package RData not found in current path.
- Run `import Pkg; Pkg.add("RData")` to install the RData package.

In [51]:
using MAT
Matlab_data = matread("data/mytempdata.mat")
matwrite("mywrite.mat",Matlab_data)

LoadError: ArgumentError: Package MAT not found in current path.
- Run `import Pkg; Pkg.add("MAT")` to install the MAT package.

In [52]:
@show typeof(jld_data)
@show typeof(npz_data)
@show typeof(R_data)
@show typeof(Matlab_data)
;

LoadError: UndefVarError: jld_data not defined

In [53]:
Matlab_data

LoadError: UndefVarError: Matlab_data not defined

# üî¢ Time to process the data from Julia
We will mainly cover `Matrix` (or `Vector`), `DataFrame`s, and `dict`s (or dictionaries). Let's bring back our programming languages dataset and start playing it the matrix it's stored in.

In [54]:
P

73√ó2 Matrix{Any}:
 1951  "Regional Assembly Language"
 1952  "Autocode"
 1954  "IPL"
 1955  "FLOW-MATIC"
 1957  "FORTRAN"
 1957  "COMTRAN"
 1958  "LISP"
 1958  "ALGOL 58"
 1959  "FACT"
 1959  "COBOL"
 1959  "RPG"
 1962  "APL"
 1962  "Simula"
    ‚ãÆ
 2003  "Scala"
 2005  "F#"
 2006  "PowerShell"
 2007  "Clojure"
 2009  "Go"
 2010  "Rust"
 2011  "Dart"
 2011  "Kotlin"
 2011  "Red"
 2011  "Elixir"
 2012  "Julia"
 2014  "Swift"

Here are some quick questions we might want to ask about this simple data.
- Which year was was a given language invented?
- How many languages were created in a given year?

In [55]:
# Q1: Which year was was a given language invented?
function year_created(P,language::String)
    loc = findfirst(P[:,2] .== language)
    return P[loc,1]
end
year_created(P,"Julia")

2012

In [56]:
year_created(P,"W")

LoadError: ArgumentError: invalid index: nothing of type Nothing

In [57]:
function year_created_handle_error(P,language::String)
    loc = findfirst(P[:,2] .== language)
    !isnothing(loc) && return P[loc,1]
    error("Error: Language not found.")
end
year_created_handle_error(P,"W")

LoadError: Error: Language not found.

In [58]:
# Q2: How many languages were created in a given year?
function how_many_per_year(P,year::Int64)
    year_count = length(findall(P[:,1].==year))
    return year_count
end
how_many_per_year(P,2011)

4

Now let's try to store this data in a DataFrame...

In [59]:
P_df = C #DataFrame(year = P[:,1], language = P[:,2]) # or DataFrame(P)

73√ó2 DataFrame
 Row ‚îÇ year   language
     ‚îÇ Int64  String31
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ  1951  Regional Assembly Language
   2 ‚îÇ  1952  Autocode
   3 ‚îÇ  1954  IPL
   4 ‚îÇ  1955  FLOW-MATIC
   5 ‚îÇ  1957  FORTRAN
   6 ‚îÇ  1957  COMTRAN
   7 ‚îÇ  1958  LISP
   8 ‚îÇ  1958  ALGOL 58
   9 ‚îÇ  1959  FACT
  10 ‚îÇ  1959  COBOL
  11 ‚îÇ  1959  RPG
  ‚ãÆ  ‚îÇ   ‚ãÆ                ‚ãÆ
  64 ‚îÇ  2006  PowerShell
  65 ‚îÇ  2007  Clojure
  66 ‚îÇ  2009  Go
  67 ‚îÇ  2010  Rust
  68 ‚îÇ  2011  Dart
  69 ‚îÇ  2011  Kotlin
  70 ‚îÇ  2011  Red
  71 ‚îÇ  2011  Elixir
  72 ‚îÇ  2012  Julia
  73 ‚îÇ  2014  Swift
                          52 rows omitted

In [60]:
# Even better, since we know the types of each column, we can create the DataFrame as follows:
# P_df = DataFrame(year = Int.(P[:,1]), language = string.(P[:,2]))

And now let's answer the same questions we just answered...

In [61]:
# Q1: Which year was was a given language invented?
# it's a little more intuitive and you don't need to remember the column ids
function year_created(P_df,language::String)
    loc = findfirst(P_df.language .== language)
    return P_df.year[loc]
end
year_created(P_df,"Julia")

2012

In [62]:
year_created(P_df,"W")

LoadError: ArgumentError: invalid index: nothing of type Nothing

In [63]:
function year_created_handle_error(P_df,language::String)
    loc = findfirst(P_df.language .== language)
    !isnothing(loc) && return P_df.year[loc]
    error("Error: Language not found.")
end
year_created_handle_error(P_df,"W")

LoadError: Error: Language not found.

In [64]:
# Q2: How many languages were created in a given year?
function how_many_per_year(P_df,year::Int64)
    year_count = length(findall(P_df.year.==year))
    return year_count
end
how_many_per_year(P_df,2011)

4

Next, we'll use dictionaries. A quick way to create a dictionary is with the `Dict()` command. But this creates a dictionary without types. Here, we will specify the types of this dictionary.

In [65]:
# A quick example to show how to build a dictionary
Dict([("A", 1), ("B", 2),(1,[1,2])])

Dict{Any, Any} with 3 entries:
  "B" => 2
  "A" => 1
  1   => [1, 2]

In [66]:
P_dictionary = Dict{Integer,Vector{String}}()

Dict{Integer, Vector{String}}()

In [67]:
#P_dictionary[67] = ["julia","programming"]

In [68]:
# this is not going to work.
P_dictionary["julia"] = 7

LoadError: MethodError: Cannot `convert` an object of type String to an object of type Integer
Closest candidates are:
  convert(::Type{T}, ::Ptr) where T<:Integer at pointer.jl:23
  convert(::Type{T}, ::Base.TwicePrecision) where T<:Number at twiceprecision.jl:273
  convert(::Type{T}, ::AbstractChar) where T<:Number at char.jl:185
  ...

Now, let's populate the dictionary with years as keys and vectors that hold all the programming languages created in each year as their values. Even though this looks like more work, we often need to do it just once.

In [69]:
dict = Dict{Integer,Vector{String}}()
for i = 1:size(P,1)
    year,lang = P[i,:]
    if year in keys(dict)
        dict[year] = push!(dict[year],lang) 
        # note that push! is not our favorite thing to do in Julia, 
        # but we're focusing on correctness rather than speed here
    else
        dict[year] = [lang]
    end
end

In [70]:
# Though a smarter way to do this is:
curyear = P_df.year[1]
P_dictionary[curyear] = [P_df.language[1]]
for (i,nextyear) in enumerate(P_df.year[2:end])
    if nextyear == curyear
        #same key
        P_dictionary[curyear] = push!(P_dictionary[curyear],P_df.language[i+1])
        # note that push! is not our favorite thing to do in Julia, 
        # but we're focusing on correctness rather than speed here
    else
        curyear = nextyear
        P_dictionary[curyear] = [P_df.language[i+1]]
    end
end

In [71]:
length(keys(P_dictionary))

45

In [72]:
length(unique(P[:,1]))

45

In [73]:
# Q1: Which year was was a given language invented?
# now instead of looking in one long vector, we will look in many small vectors
function year_created(P_dictionary,language::String)
    keys_vec = collect(keys(P_dictionary))
    lookup = map(keyid -> findfirst(P_dictionary[keyid].==language),keys_vec)
    # now the lookup vector has `nothing` or a numeric value. We want to find the index of the numeric value.
    return keys_vec[findfirst((!isnothing).(lookup))]
end
year_created(P_dictionary,"Julia")

2012

In [74]:
# Q2: How many languages were created in a given year?
how_many_per_year(P_dictionary,year::Int64) = length(P_dictionary[year])
how_many_per_year(P_dictionary,2011)

4

# üìù A note about missing data

In [75]:
# assume there were missing values in our dataframe
P[1,1] = missing
P_df = DataFrame(year = P[:,1], language = P[:,2])

73√ó2 DataFrame
 Row ‚îÇ year     language
     ‚îÇ Any      Any
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ missing  Regional Assembly Language
   2 ‚îÇ 1952     Autocode
   3 ‚îÇ 1954     IPL
   4 ‚îÇ 1955     FLOW-MATIC
   5 ‚îÇ 1957     FORTRAN
   6 ‚îÇ 1957     COMTRAN
   7 ‚îÇ 1958     LISP
   8 ‚îÇ 1958     ALGOL 58
   9 ‚îÇ 1959     FACT
  10 ‚îÇ 1959     COBOL
  11 ‚îÇ 1959     RPG
  ‚ãÆ  ‚îÇ    ‚ãÆ                 ‚ãÆ
  64 ‚îÇ 2006     PowerShell
  65 ‚îÇ 2007     Clojure
  66 ‚îÇ 2009     Go
  67 ‚îÇ 2010     Rust
  68 ‚îÇ 2011     Dart
  69 ‚îÇ 2011     Kotlin
  70 ‚îÇ 2011     Red
  71 ‚îÇ 2011     Elixir
  72 ‚îÇ 2012     Julia
  73 ‚îÇ 2014     Swift
                            52 rows omitted

In [76]:
dropmissing(P_df)

72√ó2 DataFrame
 Row ‚îÇ year  language
     ‚îÇ Any   Any
‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îº‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
   1 ‚îÇ 1952  Autocode
   2 ‚îÇ 1954  IPL
   3 ‚îÇ 1955  FLOW-MATIC
   4 ‚îÇ 1957  FORTRAN
   5 ‚îÇ 1957  COMTRAN
   6 ‚îÇ 1958  LISP
   7 ‚îÇ 1958  ALGOL 58
   8 ‚îÇ 1959  FACT
   9 ‚îÇ 1959  COBOL
  10 ‚îÇ 1959  RPG
  11 ‚îÇ 1962  APL
  ‚ãÆ  ‚îÇ  ‚ãÆ        ‚ãÆ
  63 ‚îÇ 2006  PowerShell
  64 ‚îÇ 2007  Clojure
  65 ‚îÇ 2009  Go
  66 ‚îÇ 2010  Rust
  67 ‚îÇ 2011  Dart
  68 ‚îÇ 2011  Kotlin
  69 ‚îÇ 2011  Red
  70 ‚îÇ 2011  Elixir
  71 ‚îÇ 2012  Julia
  72 ‚îÇ 2014  Swift
         51 rows omitted

# Finally...
After finishing this notebook, you should be able to:
- [ ] dowload a data file from the web given a url
- [ ] load data from a file from a text file via DelimitedFiles or CSV
- [ ] write your data to a text file or csv file
- [ ] load data from file types xlsx, jld, npz, mat, rda
- [ ] write your data to an xlsx file, jld, npz, mat, rda
- [ ] store data in a 2D array (`Matrix`), or `DataFrame` or `Dict`
- [ ] write functions to perform basic lookups on `Matrix`, `DataFrame`, and `Dict` types
- [ ] use some of the basic functions on `DataFrame`s such as: `dropmissing`, `describe`, `combine(groupby)`, and `innerjoin`

# ü•≥ One cool finding

Julia was created in 2012